<div class="container">
  <app-title title="Orders Manager"></app-title>
  <div class="btn-group">
    <button class="btn btn-success m-2" (click)="getOrdersWithStatus(10)">Get Unpaid orders!</button>
    <button class="btn bg-warning m-2" (click)="getOrdersWithStatus(20)">Get orders Ready!</button>
    <button class="btn btn-danger m-2"(click)="getOrdersWithStatus(30)">Get Shipped orders!</button>
    <button class="btn btn-primary m-2"(click)="getOrdersWithStatus(40)">Get Completed orders!</button>
    <button class="btn btn-dark m-2"(click)="getOrdersWithStatus(50)">Get Canceled orders!</button>
    <button class="btn btn-secondary m-2"(click)="getOrdersWithStatus(60)">Get Refunded orders!</button>
  </div>
  <hr>

  <app-not-found [visible]="!orders || !orders.length" notFoundMessage="There are no {{getOrderStatusLabel(orderStatus)}} Orders!
    (Check again every few minutes at least until we implement publisher/subscriber pattern :)"
    resetLinkText="Back to Homepage">
  </app-not-found>

  <div *ngIf="orders && orders.length">
    <h3>Orders: </h3>
    <ul>
      <li *ngFor="let order of orders">
        <div class="card bg-light border-dark">
          <div class="card-header">
            Order ID:
            {{order._id}}
          </div>
          <h5 class="card-title m-auto">
            Order Date:
            {{order.orderDate | date}}
          </h5>

          <div class="card-body">
            <label class="form-label fw-bold">
              Order Total Items:
            </label>
            <ol *ngFor="let detail of order.orderDetail">
              Menu: {{detail.menuId}}
              Quantity: {{detail.quantity}}
              Unit Price: {{detail.price | currency}}
            </ol>
            <div>
              <label class="form-label fw-bold">
                Order Total Price:
              </label>
              {{order.orderPrice | currency}}
            </div>
            <div>
              <label class="form-label fw-bold">
                Order Status:
              </label>
              {{getOrderStatusLabel(order.orderStatus)}}
              <div class="btn-group-lg">
                <button *ngIf="order.orderStatus === 20" (click)="changeOrderStatus(order._id, 30)"
                  class="btn btn-outline-warning m-1">
                  Pay Order
                </button>
                <button *ngIf="order.orderStatus < 40" (click)="changeOrderStatus(order._id, 50)"
                  class="btn btn-outline-danger m-1">
                  Cancel Order
                </button>
                <button *ngIf="order.orderStatus === 50" (click)="changeOrderStatus(order._id, 60)"
                  class="btn btn-outline-success m-1">
                  Refund Order!
                </button>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </li>
    </ul>
  </div>

</div>
