<header>
  <div class="container">
    <a routerLink="/" class="logo"> Fast Food Service! </a>
    <nav>
      <ul>
        <li *ngIf="!isAuth">
          <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="isAuth && isAdmin" class="menu-container">
          <a routerLink="/management">Admin Area</a>
          <div class="menu">
            <a routerLink="/pendings">Manage Orders</a>
            <a routerLink="/newMenu">Add Menu Option</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>
        <li *ngIf="isAuth && !isAdmin" class="menu-container">
          <a routerLink="/dashboard">{{user.userFullname}}</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/payment">Orders</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>
        <li *ngIf="!isAdmin">
          <a routerLink="/cart">
            Cart
            <span *ngIf="orderCount"> {{orderCount}} </span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

</header>
